body {
  background: transparent;
  margin: 0 auto;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.login-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 640px;
  height: 380px;
  background: #1b1b1f;
  border-radius: 50px;
}

.bot-logo {
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  background: #28282e;
  height: 50px;
  width: 100px;
  text-align: center;
  line-height: 50px;
  font-size: 22px;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}

.brandlogo {
	width: 40px;
	height: 40px;
	display: inline-block;
}

.bot-title {
  border-bottom-right-radius: 50px;
  background: #212126;
  height: 70px;
  width: 400px;
  text-align: center;
  line-height: 70px;
  font-size: 22px;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 85px;
  overflow: hidden;
  z-index: 9998;
}

.bot-window {
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  background: #131316;
  height: 40px;
  width: 100px;
  text-align: center;
  line-height: 70px;
  font-size: 22px;
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  padding-left: 15px;
  overflow: hidden;
  z-index: 99999;
}

.window-c {
  width: 35px;
  height: 40x;
  float: left;
  text-align: center;
  line-height: 40px;
  color: #aaa;
  display: inline-block;
  cursor: pointer;
  font-size: 18px;
}

.window-c:hover {
  color: #eee;
}

.center-stripe1 {
  position: absolute;
  left: calc(50% - 90px);
  top: -65px;
  width: 50px;
  height: 130px;
  border-radius: 35px;
  background: #fbcf4d;
  text-align: center;
  display: inline-block;
  transition: .5s ease;
}

.center-stripe2 {
  position: absolute;
  left: calc(50% - 25px);
  top: -85px;
  width: 50px;
  height: 170px;
  border-radius: 35px;
  background: #fbcf4d;
  text-align: center;
  display: inline-block;
  transition: .5s ease;
}

.center-stripe3 {
  position: absolute;
  left: calc(50% + 40px);
  top: -65px;
  width: 50px;
  height: 130px;
  border-radius: 35px;
  background: #fbcf4d;
  text-align: center;
  display: inline-block;
  transition: .5s ease;
}

.activate-title {
  width: 100%;
  height: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  line-height: 30px;
  margin-top: 120px;
}

.activate-info {
  width: 60%;
  height: 60px;
  font-size: 13.5px;
  line-height: 15px;
  color: #aeaeae;
  margin-left: 20%;
  text-align: center;
  margin-top: 5px;
}

.activate-button {
  width: 250px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  font-size: 15px;
  background: #fbcf4d;
  color: #000;
  left: calc(50% - 125px);
  bottom: -27.5px;
  position: absolute;
  border-radius: 35px;
  cursor: pointer;
  font-weight: bold;
  animation-name: buttonflip;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.activate-button:hover {
  font-weight: normal;
}


.create-row {
    width: 100%;
    display: inline-block;
    height: 50px;
    background:  #28282e;
    margin-bottom: 10px;
	position: relative;
	border-radius: 25px;
	outline: none;
}

.checkoutinput:after {
	content: '';
	position: absolute;
	z-index: -1;
	lefT: -5px;
	top: -5px;
	width: calc(100% + 10px);
	height: calc(100% + 10px);
	background: #28282e;
	border-radius: 35px;
}


.inputicon {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    float: left;
    color: #fbcf4d;
    background: rgba(0,0,0,0.3);
	border-radius: 25px;
	margin-top: 5px;
	margin-left: 5px;
}

.createinput {
    height: 50px;
    border: none;
    font-size: 15px;
    background: #28282e;
    padding-left: 10px;
    width: calc(100% - 50px);
    color: #fff;
    opacity: 0.8;
    position: relative;
    z-index: 9999;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	padding-right: 20px;
	outline: none;
}

.ordiscordsignin {
  width: 100%;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  font-size: 13px;
}

.ordiscordsignin span {
  cursor: pointer;
  opacity: 0.8;
}

.ordiscordsignin span:hover {
  opacity: 1;
}

@keyframes buttonflip {
  0%   {transform: rotateX(-90deg);}
  100% {transform: rotateX(0deg);}
}