

::selection {
  background: #fbcf4d !important; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #fbcf4d !important; /* Gecko Browsers */
}


/* Turn on custom 8px wide scrollbar */
::-webkit-scrollbar {
  width: 10px; /* 1px wider than Lion. */
  /* This is more usable for users trying to click it. */
  background-color: rgba(0,0,0,0);
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:vertical:hover {
  background: #fbcf4d; 
  width: 8px !important;
}

/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}
 
/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb:vertical {
  /* This is the EXACT color of Mac OS scrollbars. 
     Yes, I pulled out digital color meter */
  background: #bf9e3b;
  -webkit-border-radius: 100px;
  background-clip: padding-box;
  border: 2px solid rgba(0, 0, 0, 0);
  min-height: 10px; /*Prevent it from getting too small */
}
::-webkit-scrollbar-thumb:vertical:active {
  background: #fbcf4d; /* Some darker color when you click it */
  -webkit-border-radius: 100px;
}



body {
  background: transparent;
  margin: 0 auto;
  text-align: center;
  font-family: 'Raleway', sans-serif;

}

.ui-tooltip {
    z-index: 100000 !important;
}

.bot-size {
  width: 1100px;
	height: 685px;
  background: #1b1b1f;
  display: inline-block;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
}

.bot-logo {
  border-bottom-right-radius: 50px;
  background: #28282e;
  height: 70px;
  width: 100px;
  text-align: center;
  line-height: 70px;
  font-size: 22px;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}

.brandlogo {
	width: 45px;
	height: 45px;
	display: inline-block;
}

.bot-title {
  border-bottom-right-radius: 50px;
  background: #212126;
  height: 70px;
  width: 400px;
  text-align: center;
  line-height: 70px;
  font-size: 22px;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 85px;
  overflow: hidden;
  z-index: 9998;
}

.bot-window {
  border-bottom-left-radius: 50px;
  background: #131316;
  height: 35px;
  width: 100px;
  text-align: center;
  line-height: 70px;
  font-size: 22px;
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  padding-left: 15px;
  overflow: hidden;
  z-index: 99999;
}

.window-c {
  width: 35px;
  height: 35px;
  float: left;
  text-align: center;
  line-height: 35px;
  color: #aaa;
  display: inline-block;
  cursor: pointer;
  font-size: 18px;
}

.window-c:hover {
  color: #eee;
}

.title-top {
  width: 100%;
  height: 20px;
  margin-top: 15px;
  text-align: center;
  color: #eee;
  font-size: 16px;
  line-height: 20px;
}

.title-bottom {
  width: 100%;
  height: 15px;
  margin-top: 0px;
  text-align: center;
  color: #aaa;
  font-size: 12px;
  line-height: 10px;
}

.nav-base {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 350px;
  height: 70px;
  width: calc(100% - 350px);
  line-height: 70px;
  padding-left: 50px;
  background: #161619;
  text-align: center;
  color: #aaa;
  border-right: 100px solid #161619;
  z-index: 9993;
}

.nav-item {
  width: 25%;
  height: 70px;
  text-align: center;
  line-height: 70px;
  background: transparent;
  float: left;
  display: inline-block;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 9994;
}

.nav-item:hover {
  opacity: 0.8;
}

.nav-item a {
  font-size: 15px;
  z-index: 99;
  position: relative;
}

.nav-item.active {
  font-weight: bold !important;
  color: #161619 !important;
  opacity: 1;
}

.nav-item.active  a{
  font-weight: 1000;
}


.nav-ground {
  height: 22.5px;
  width: 120px;
  left: 64px;
  border-radius: 25px;
  position: absolute;
  top: 24px;
  background: #fbcf4d;
  z-index: 1;
  transition: .3s;
}

.sec-nav {
  position: fixed;
  top: 70px;
  background: #fbcf4d;
  left: auto;
  width: 1100px;
  height: 52.5px;
  display: inline-block;
  z-index: 10;
  text-align: center;
  line-height: 52.5px;
  border-radius: 0px;
  padding-left: 25px;
  margin-left: 0px;
  padding-right: 25px;
  transition: .3s ease;
}

.second-nav-hidden {
  width: 1100px !important;
  background: transparent;
  display: none;
  opacity: 0;
  height: 52.5px;
  display: inline-block;
  margin-left: 0px;
  z-index: -10;
  top: 30px;
  margin-left: 0px !important;
  height: 50px;
  border-radius: 0px  !important;
  margin-top: -100px;
}

.sec-navt {
  width: 50%;
  height: 52.5px;
  float: left;
  display: inline-block;
  cursor: pointer;
}

.sec-navt:hover {
  font-weight: bold !important;
}

.test {
  width: 1150px;
  height: 52.5px;
  display: inline-block;
  margin-left: -25px;
  border-radius: 35px;
  z-index: 9989;
}

.second-active {
  font-weight: bold;
  color: #000;
}

.mainr {
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: #1b1b1f;
  padding: 20px;
  overflow-y: auto;
}

.release-container {
  width: 100%;
  overflow-y: auto;
  text-align: center;
}

.release-item {
  width: 220px;
  height: 320px;
  background: #161619;
  border-radius: 25px;
  display: inline-block;
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.release-title {
  width: 210px;
  height: 40px;
  background: #fbcf4d;
  border-radius: 25px;
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 5px;
  line-height: 40px;
  text-align: Center;
  font-weight: bold;
  color: #161619;
  font-size: 16px;
}

.release-image {
  width: 200px;
  display: inline-block;
  position: absolute;
  top: 60px;
  left: 15px;    
  transform: scaleX(-1);
}

.release-date {
  position: absolute;
  bottom: 10px;
  lefT: 5px;
  width: 210px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  color: #aaa;
  font-size: 11px;
}

.release-button {
  position: absolute;
  bottom: 40px;
  lefT: 25px;
  width: 170px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  color: #fbcf4d;
  background: #0d0d0f;
  font-size: 14px;
  border-radius:25px;
  font-weight: normal;
  transition: .1s ease;
  cursor: pointer;
}

.release-button:hover {
  font-weight: bold;
}


.drag-top {
	position: fixed;
	top: 0;
	left: 0;
	right: 80px;
	height: 30px;
	z-index: 999;
	-webkit-user-select: none;
    -webkit-app-region: drag;
}

.shown {
	display: block;
}

.hideded {
	display: none;
}

.main {
  display: none;
}

.showpage {
	display: block !important;
}

.hidepage {
	display: none;
}

.btab {
	display: none;
}

.mainrr {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    overflow-y: auto;
    transition: .5s ease;
}


.mainrrx {
    position: absolute;
    top: 0px;
    right: -100%;
    width: 100%;
	height: 100%;
    overflow-y: auto;
    transition: .5s ease;
}



.shownav {
	display: block !important;
}

.tasks2nav {
	display: none;
}

.settingsleftmenu {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 330px;
	height: 100%;
	background: #161619;
}

.settingnavtitle {
	width: 100%;
	height: 55px;
	float: left;
	line-height: 55px;
	text-align: center;
	font-size: 20px;
	color: #fbcf4d;
}

.settingnav {
	width: 100%;
	height: 55px;
	float: left;
	line-height: 55px;
	text-align: left;
	padding-left: 30px;
	position: relative;
	color: #aaa;
	cursor: pointer;
	font-size: 15px;
}

.settingnav:hover {
	font-weight: bold;
	color: #eaeaea;
}

.setactive {
	border-left: 5px solid #fbcf4d;
	color: #fff;
	font-weight: bold;
	background: #121214;
	padding-left: 25px;
}

.setting-side {
	position: absolute;
	left: 330px;
	top: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	height: 100%;
	padding: 20px;
	overflow-y: auto;
	overflow-x: hidden;
}

.tabbard {
	display: none;

}

.settingtitlelarger {
	font-size: 19px;
	width: 100%;
	height: 20px;
	line-height: 20px;
	text-align: left;
	color: #fff;
	font-weight: bold;
}

.settingtitleinfo {
	font-size: 15px;
	width: 100%;
	height: 20px;
	line-height: 20px;
	text-align: left;
	color: #aaa;
}


.update-avaliablex {
	float: right;
	font-weight: bold;
	color: #eee;
	cursor: pointer;
}

.update-avaliablex:hover {
	color: #fff;
}

.mass-tabx {
	margin-right: -100%;
	height: 100%;
	width: 100%;
}

.leftsidetable {
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
}

.rightsidetable {
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
}

.entriesgang {
	position: relative;
	width: 100%;
	height: 100%;
}

.mass-tab {
	height: 100%;
	width: 100%;
	margin-right: 100%;
}

.massenter-main {
	width: 1100px;
    height: 565px;
	margin-right: 100%;
	margin-top: 123px;
	padding: 17px 20px 20px 20px;
}

.tripleactionx {
	height: 60px;
	padding: 5px;
	background: #212126;
	border-radius: 35px;
	line-height: 60px;
	text-align: center;
	display: inline-block;
	float: left;
}

.trippple-butt {
    height: 50px;
    width: 70px;
    border: none;
    text-align: center;
    color: #fff;
    background: #0e0e0e;
    cursor: pointer;
    line-height: 50px;
    font-size: 15px;
    border: none;
    outline: none !important;
	display: inline-block;
	float: left;
}

.trippple-butt:hover {
  opacity: 0.8;
}

.trippple-butt:first-child { 
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	border-left: 0.1px solid rgba(0,0,0,0);
	border-right: 0.1px solid rgba(0,0,0,0);
}

.trippple-butt:last-child { 
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	border-left: 0.1px solid rgba(0,0,0,0);
	border-right: 0.1px solid rgba(0,0,0,0);
}

.cannecle {
	width: 100%;
	position: absolute;
	bottom: 20px;
	lefT: 0;
	height: 20px;
	text-align: center;
	color: #aaa;
	font-size: 14px;
	line-height: 20px;
}

.cannecle span {
	cursor: pointer;
}

.cannecle span:hover {
	font-weight: bold;
}

.antidrag {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.antiselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#toast-container {
  min-width: 8%;
  top: 5%;
  right: 3%;
  display: block;
  position: fixed;
  z-index: 10001;
}

.toast {
  /*border-radius: 2px;*/
  top: 0;
  width: auto;
  clear: both;
  margin-top: 10px;
  position: relative;
  max-width: 100%;
  height: 48px;
  line-height: 48px;
  background-color: #fbcf4d;
  padding: 0 25px;
  font-size: 15px;
  /* font-weight: bold; */
  color: #333;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  float: right;
  /* font-family: 'Amiko', sans-serif; */
  -webkit-filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.5));
}

.toast .btn,
.toast .btn-large,
.toast .btn-flat {
  margin: 0;
  margin-left: 3rem;
}

.toast.rounded {
  border-radius: 25px !important;
}

.toast {
  float: right;
}





.create-rowset {
    width: 100%;
    display: inline-block;
    height: 45px;
    background:  #28282e;
    margin-bottom: 10px;
	position: relative;
	border-radius: 25px;
	outline: none;
	float: left;
}

.inputiconset {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 18px;
    float: left;
    color: #fbcf4d;
    background: rgba(0,0,0,0.3);
	border-radius: 25px;
	margin-top: 5px;
	margin-left: 5px;
}

.createinputset {
    height: 45px;
    border: none;
    font-size: 14px;
    background: #28282e;
    padding-left: 10px;
    width: calc(100% - 45px);
    color: #fff;
    opacity: 0.8;
    position: relative;
    z-index: 9999;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	padding-right: 20px;
	outline: none;
}



.radioholdere {
	width: 140px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	float: right;
	margin-top: -50px;
	zoom: 80%;
}

.circle-radio {
  visibility: hidden;
}

.circle-radio + label {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #fbcf4d;
}

.circle-radio:checked + label {
  display: block;
  background: #fbcf4d;
  box-shadow: inset 0px 0px 0px 5px #1b1b1f;
}



.setting-inputl {
	width: 100%;
	height: 45px;
	margin-top: 20px;
}

.setting-seperate {
	height: 1px;
	background: rgba(244,244,244,0.1);
	width: 95%;
	margin-left: 2.5%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.setting-buttonr {
	float: right;
	height: 40px;
	line-height: 40px;
	text-align: center;
	width: 200px;
	font-size: 14px;
	color: #000;
	background: #fbcf4d;
	margin-top: -20px;
	border-radius: 30px;
	cursor: pointer;
}

.setting-buttonr:hover {
	font-weight: bold;
}

.cyollie {
	background: red !important;
}

.acc-gen-bn {
	width: 100%;
	padding: 2%;
	text-align: center;
	height: 40px;
	line-height: 40px;
	color: #fbcf4d;
	text-align: center;
	font-size: 50px;
	margin-top: -10px;
}



.accounttable table {
    border-collapse: separate;
    border-spacing: 0px 10px;
    width: 100% !important;
/* 	margin-left: 5%; */
}


.accounttable tr, th {
    text-align: center;
    padding: 8px;
    margin-bottom: 10px;
    color: #fbcf4d;
}

.accounttable tr {
  margin-top: 10px;
  text-align: center;
  padding: 8px;
  height: 50px;
  border-radius: 25px;
  color: #fff;
  text-transform: lowercase;
}

.accounttable tr:nth-child(even) {
    background: #111113;
}

.accounttable tr:nth-child(odd) {
    background: #111113;
}

.proxy-gen-ix {
	width: 100%;
	padding: 2%;
	text-align: center;
	height: 20px;
	line-height: 20px;
	color: #aaa;
	text-align: center;
	font-size: 13px;
	margin-top: -10px;
	position: relative;
}

.tablescroll {
	overflow-y: auto;
	width: 100%;
	height: 500px;
	padding-left: 20px;
	padding-right: 20px;
}

.disability {
	opacity: 0.8;
	filter: grayscale(100%);
	position: relative;
}

.disability:after {
	width: 100%;
	height: 120%;
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	z-index: 99;
	cursor: not-allowed;
}

.multiprofilerow {
	width: 100%;
	text-align: center;
	color: #eee;
	font-size: 14px;
	height: 20px;
	line-height: 20px;
	position: relative;
}

.multiprofilerowtext {
	cursor: pointer;
	position: relative;
	height: 20px;
	display: inline-block;
	text-align: center;
}
.multiprofilerowtext:hover {
	font-weight: bold;
}

.extrapofilesboys {
}

.xstyling {
	position: relative;
}

.xleg {
	width: 30px;
	height: 30px;
	position: absolute;
	right: -30px;
	text-align: center;
	line-height: 30px;
	top: 10px;
}

.xspot {
	color: #fff;
	opacity: 0.5;
	font-size: 16px;
	cursor: pointer;
}

.xspot:hover {
	opacity: 1;
}

input:disabled {
	cursor: not-allowed !important;
}

select:disabled {
	cursor: not-allowed !important;
}

.comboTreeWrapper  {
    height: 50px;
    position: absolute;
    left: 40px;
    right: 10px;
}


.comboTreeDropDownContainer {
    position: absolute;
    top: 0px;
    height: 50px;
    top: 50px;
    right: 42px;
    left: 10px;
    z-index: 10000;
	text-align: left;
	display: none;
}

.comboTreeDropDownContainer li {
    background-color: #222227 !important;
	padding-left: 10px;
	position: relative;
	color: #aaa;
	cursor: pointer;
}

.comboTreeDropDownContainer li input {
    background: yellow !important;
    border: none;
    width: 100%;
    height: 20px;
    position: absolute;
    right: -39%;
    bottom: 0;
    opacity: 1;
    font-weight: bold;
	z-index: 9999;
}



.comboTreeDropDownContainer li:hover {
    background-color: #28282e !important;
	padding-left: 10px;
	color: #fff;
	font-weight: bold;
}

.comboTreeDropDownContainer ul {
    height: 200px !important;
	overflow-y: auto;
	overflow-x: hidden;
	width: 110%;
}


.multiplesFilter {
	display: none;
}

.ComboTreeItemChlid {
    background: red;
    margin-left: -41px;
    /* padding-right: 100px; */
    width: 118%;
}
.ComboTreeItemChlid span{
	content: 'size: ';
}

.comboTreeArrowBtn {
    position: absolute;
    top: 18px;
    background: transparent;
    border: none;
    color: #aaa;
    font-size: 8px;
    right: -9px;
    text-align: right;
	outline: none;
    z-index: 9999;
}

.comboTreeItemTitle {
	
}

.xboxhotty {
    height: 60px;
	width: 40px;
    padding: 5px;
    background: transparent;
    border-radius: 35px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    float: left;
}

.sizeinput {
    height: 50px;
    border: none;
    font-size: 15px;
    background: #28282e;
    padding-left: 10px;
    width: calc(100% - 50px);
    color: #d0cfcf;
    line-height: 50px;
    opacity: 0.8;
    position: relative;
    z-index: 9999;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-right: 20px;
    outline: none;
    float: right;
    text-transform: lowercase;
    text-align: left;
    white-space: nowrap;                   
    overflow: hidden;
    direction: ltr;
    text-align: left;
}

.sizedropper {
	position: absolute;
	right: 6px;
	top: 0px;
	height: 50px;
	width: 10px;
	text-align: center;
	line-height: 50px;
	font-size: 9px;
	z-index: 9999;
	color: #aaa;
	cursor: default;
}

.sizedropcontainer {
    width: calc(90% + 4px);
    position: absolute;
    top: 50px;
    height: 250px;
    background: #28282e;
    left: 50px;
    border: 0.5px solid #c7a054;
    right: 0;
	overflow-y: auto;
    z-index: 99999;
	display: none;
}

.size-select {
	height: 18px;
	width: 100%;
	padding-left: 10px;
	line-height: 18px;
	font-size: 14px;
	color: #aaa;
	text-align: left;
	position: relative;
	z-index: 99999;
}
.plus-select {
	height: 18px;
	width: 100%;
	padding-left: 10px;
	line-height: 18px;
	font-size: 14px;
	color: #aaa;
	text-align: left;
	position: relative;
	z-index: 99999;
}

.savaliable:hover {
	background: #1e90ff !important;
	color: #fff !important;
}

.plusavaliable:hover {
	background: #1e90ff !important;
	color: #fff !important;
}

.sizedisabled {
	opacity: 0.4;
	position: relative;
	color: #aaa !important;
}

.sizedisabled::after {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: yellow;
	z-index: 999999;
	cursor: not-allowed;
	
}

/* Turn on custom 8px wide scrollbar */
.createinput::-webkit-scrollbar {
  width: 10px; /* 1px wider than Lion. */
  /* This is more usable for users trying to click it. */
  background-color: rgba(0,0,0,0);
  -webkit-border-radius: 100px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
.createinput::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}
 
/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
.createinput::-webkit-scrollbar-thumb:vertical {
  /* This is the EXACT color of Mac OS scrollbars. 
     Yes, I pulled out digital color meter */
  background: #bf9e3b;
  -webkit-border-radius: 100px;
  background-clip: padding-box;
  border: 2px solid rgba(0, 0, 0, 0);
  min-height: 10px; /*Prevent it from getting too small */
}
.createinput::-webkit-scrollbar-thumb:vertical:active {
  background: #fbcf4d; /* Some darker color when you click it */
  -webkit-border-radius: 100px;
}

.size-select input[type="checkbox"] {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: transparent;
	border: none;
	outline: none;
	opacity: 0;
}

 .plus-select input[type="checkbox"] {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: transparent;
	border: none;
	outline: none;
	opacity: 0; 
} 

.plusdisabled {
	opacity: 0.4;
}
.plusdisabled:hover {
	background: transparent !important;
	color: #aaa !important;
}

.wegoagain {
/*	font-weight: bold; */
	color: #fff;
}

.hideyourkidshideyourwife {
	display: block !important;
}

.sizesort {
	display: inline-block;
	position: relative;
	color: #fff;
}

.sizesort::after {
	content: ', ';
	color: #aaa;
	font-weight: bold;
	width: 10px;
}

.cardiacarrest {
	width: 100%;
}